//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <110>;
    flavor = "hold-preferred";
    tapping-term-ms = <220>;
};

&lt {
    tapping-term-ms = <300>;
    flavor = "balanced";
    quick-tap-ms = <125>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <110>;
            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <50>;
            hold-while-undecided;
            hold-trigger-on-release;
        };

        ts: StickyToggle {
            compatible = "zmk,behavior-hold-tap";
            label = "StickyToggle";
            bindings = <&tog>, <&sl>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
        };
    };

    combos {
        compatible = "zmk,combos";

        F6_F4F5 {
            bindings = <&kp F6>;
            key-positions = <3 4>;
            layers = <2>;
            timeout-ms = <50>;
        };

        F7_F8F9 {
            bindings = <&kp F7>;
            key-positions = <5 6>;
            timeout-ms = <50>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        L0 {
            display-name = "0";
            bindings = <
               &kp Q        &kp W       &kp E       &kp R        &kp T        &kp Y      &kp U        &kp I       &kp O       &kp P
               &hm LSHFT A  &hm LALT S  &hm LGUI D  &hm LCTRL F  &kp G        &kp H      &hm RCTRL J  &hm RGUI K  &hm RALT L  &hm RSHFT SEMI
&mt LSHFT ESC  &kp Z        &kp X       &kp C       &kp V        &kp B        &kp N      &kp M        &kp COMMA   &kp PERIOD  &kp SLASH       &mt RSHFT SQT
                                        &kp DEL     &lt 1 SPACE  &lt 2 TAB    &lt 2 RET  &lt 1 SPACE  &kp BSPC
            >;
        };

        L1 {
            display-name = "1";
            bindings = <
        &kp F1        &kp F2       &kp F3       &kp F4        &kp F5       &kp F8     &kp F9        &kp F10           &kp F11            &kp F12
        &hm LSHFT N1  &mt LALT N2  &mt LGUI N3  &mt LCTRL N4  &kp N5       &kp N6     &mt RCTRL N7  &mt RGUI N8       &mt RALT N9        &hm RSHFT N0
&trans  &kp LEFT      &kp UP       &kp DOWN     &kp RIGHT     &kp GRAVE    &kp MINUS  &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans
                                   &trans       &trans        &trans       &trans     &trans        &trans
            >;
        };

        L2 {
            display-name = "2";
            bindings = <
        &none         &none           &none             &none          &to 3           &to 3         &none       &none             &none       &none
        &kp PSCRN     &mt LALT PG_UP  &mt LGUI PG_DN    &mt LCTRL INS  &none           &none         &kp END     &kp PAUSE_BREAK   &kp HOME    &none
&trans  &kp C_VOL_DN  &kp C_PREV      &kp C_PLAY_PAUSE  &kp C_NEXT     &kp C_VOL_UP    &kp C_VOL_UP  &kp C_NEXT  &kp C_PLAY_PAUSE  &kp C_PREV  &kp C_VOL_DN  &trans
                                      &trans            &trans         &trans          &trans        &trans      &trans
            >;
        };

        G1 {
            display-name = "3";
            bindings = <
       &kp CAPS        &kp Q  &kp W  &kp E      &kp T    &none    &none        &none          &none  &none
       &kp LEFT_SHIFT  &kp A  &kp S  &kp D      &kp F    &kp F5   &kp ESC      &none          &none  &none
&sl 4  &kp LCTRL       &kp Z  &kp X  &kp C      &kp V    &kp F12  &none        &none          &none  &none  &none
                              &kp R  &kp SPACE  &kp G    &to 0    &kp LS(TAB)  &kp BACKSPACE
            >;
        };

        G2 {
            display-name = "4";
            bindings = <
         &kp I    &kp N7  &kp N8  &kp N9  &kp U    &none    &none        &none          &none  &none
         &kp TAB  &kp N1  &kp N2  &kp N3  &kp H    &kp F5   &kp ESC      &none          &none  &none
&kp ESC  &kp M    &kp N4  &kp N5  &kp N6  &kp N    &kp F12  &none        &none          &none  &kp LC(LA(ESCAPE))  &kp LA(F4)
                          &kp J   &kp K   &kp L    &to 0    &kp LS(TAB)  &kp BACKSPACE
            >;
        };
    };
};
