//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        ts: StickyToggle {
            compatible = "zmk,behavior-hold-tap";
            label = "StickyToggle";
            bindings = <&tog>, <&sl>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "B";
            bindings = <
                &kp Q        &kp W       &kp E          &kp R         &kp T      &kp Y      &kp U        &kp I          &kp O       &kp P
                &mt LCTRL A  &mt LGUI S  &mt LALT D     &mt LSHIFT F  &lt 1 G    &lt 1 H    &mt RSHFT J  &mt RALT K     &mt RGUI L  &mt RCTRL SEMICOLON
&mt LSHIFT ESC  &kp Z        &kp X       &kp C          &kp V         &kp B      &kp N      &kp M        &kp COMMA      &kp DOT     &kp SLASH            &mt RSHIFT APOS
                                         &kp BACKSPACE  &lt 1 SPACE   &kp TAB    &kp ENTER  &lt 1 SPACE  &kp BACKSPACE
            >;
        };

        Navigation+Numpad {
            display-name = "NC";
            bindings = <
               &kp F2    &kp F3    &kp F4    &kp F5         &kp F6       &kp F7     &kp F8         &kp F9            &kp F10            &kp F11
               &kp N1    &kp N2    &kp N3    &mt LSHIFT N4  &kp N5       &kp N6     &mt RSHIFT N7  &kp N8            &kp N9             &kp N0
&mt LSHIFT F1  &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT      &kp GRAVE    &kp MINUS  &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &mt RSHIFT F12
                                   &kp CAPS  &to 2          &sl 1        &sl 1      &to 2          &kp DEL
            >;
        };

        Symbols+Functions {
            display-name = "SF";
            bindings = <
       &none      &none       &none             &none           &none           &none         &none           &none             &none       &none
       &kp PG_UP  &kp PG_DN   &kp PSCRN         &mt LSHIFT INS  &kp C_VOL_UP    &kp C_VOL_UP  &mt RSHIFT END  &kp PAUSE_BREAK   &kp HOME    &none
&none  &none      &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT      &kp C_VOL_DN    &kp C_VOL_DN  &kp C_NEXT      &kp C_PLAY_PAUSE  &kp C_PREV  &none  &none
                              &none             &to 3           &to 0           &to 0         &to 3           &none
            >;
        };

        Gaming {
            display-name = "G";
            bindings = <
       &kp Z           &kp Q  &kp I  &kp E      &kp T    &none  &none  &none  &none  &none
       &kp LEFT_SHIFT  &kp A  &kp W  &kp D      &kp F    &none  &none  &none  &none  &none
&sl 4  &kp LCTRL       &kp X  &kp S  &kp C      &kp V    &none  &none  &none  &none  &none  &none
                              &kp R  &kp SPACE  &kp G    &none  &none  &none
            >;
        };

        Gaming+ {
            display-name = "G+";
            bindings = <
         &kp G    &kp N7  &kp N8  &kp N9  &kp Y    &kp RA(RC(Y))  &kp RA(RC(U))  &none        &none  &kp LC(RA(DEL))
         &kp TAB  &kp N4  &kp N5  &kp N6  &kp H    &kp F5         &to 0          &kp LS(TAB)  &none  &none
&kp ESC  &kp B    &kp N1  &kp N2  &kp N3  &kp N    &kp F12        &none          &none        &none  &none            &kp LA(F4)
                          &none   &mo 4   &none    &none          &none          &none
            >;
        };
    };
};
